.item-contianer {
    height: 46px;
    border-radius: 46px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 20px;
}

input[type="text"] {
    border: none;
    outline: none;
    font-weight: 400;
    line-height: 19px;
}