input[type="text"] {
    @media screen and (min-width: 1000px) {
        width: calc(40vw - 45px);
    }

    @media screen and (max-width: 1000px) {
        width: calc(65vw - 45px);
    }

    @media screen and (max-width: 500px) {
        width: calc(80vw - 45px);
    }
}

::placeholder {
    color: #BCBCBC;
}